<div class="mt-5">
  <img [src]="recipe?.imagePath" class="img-fluid" alt="{{ recipe?.name }}" />
</div>

<div class="mt-3 btn-group" appDropdown>
  <button type="button" class="btn btn-primary dropdown-toggle">
    Manage Recipe <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">To Shopping List</a></li>
    <li><a href="#">Edit Recipe</a></li>
    <li><a href="#">Delete Recipe</a></li>
  </ul>
</div>

<!-- <div class="col-md-6">
  <h2>{{ recipe?.name }}</h2>
  <p>{{ recipe?.description }}</p>

  <h3>Ingredients:</h3>
  <ul>
    <li>Ingredient 1</li>
    <li>Ingredient 2</li>
    <li>Ingredient 3</li>
  </ul>

  <h3>Instructions:</h3>
  <ol>
    <li>Step 1: Instruction 1</li>
    <li>Step 2: Instruction 2</li>
    <li>Step 3: Instruction 3</li>
  </ol>

  <h3>Additional Details:</h3>
  <p>Additional details about the recipe can be added here.</p>
</div> -->
