<div class="mt-5">
  <img
    width="500"
    height="500"
    [src]="recipe?.imagePath"
    class="img-fluid rounded"
    alt="{{ recipe?.name }}"
  />
  <h3 class="my-2">{{ recipe?.name }}</h3>
  <p class="my-2">{{ recipe?.description }}</p>
</div>

<div>
  <a (click)="onAddToShoppingList()" class="btn btn-outline-secondary me-1"
    >Add To Shopping List</a
  >
  <a class="btn btn-outline-secondary me-1" (click)="onEditRecipe()"
    >Edit Recipe</a
  >
  <a class="btn btn-outline-secondary me-1" (click)="onDeleteRecipe()"
    >Delete Recipe</a
  >
</div>

<div class="mt-3">
  <ul class="list-group" *ngFor="let ing of recipe?.ingredients">
    <li class="list-group-item">
      <span class="font-weight-bold">{{ ing.name }}</span> - {{ ing.amount }}
    </li>
  </ul>
</div>
