<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <h1>Shopping List</h1>

    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of ingredients">
            {{ ingredient.name }}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of ingredients">
            {{ ingredient.amount }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
