<div class="row mt-5">
  <div class="col-md-6">
    <form>
      <div class="form-group mb-3">
        <label for="itemName">Item Name</label>
        <input
          type="text"
          #inputName
          class="form-control mt-2"
          id="itemName"
          placeholder="Enter item name"
        />
      </div>
      <div class="form-group mb-3">
        <label for="itemAmount">Amount</label>
        <input
          #inputAmount
          type="number"
          class="form-control mt-2"
          id="itemAmount"
          placeholder="Enter amount"
        />
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="onAdd()">
          Add
        </button>
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-warning">Clear</button>
      </div>
    </form>
  </div>
</div>
