<div class="row mt-5">
  <div class="col-md-6">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group mb-3">
        <label for="itemName">Item Name</label>
        <input
          type="text"
          class="form-control mt-2"
          id="itemName"
          name="name"
          placeholder="Enter item name"
          ngModel
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="itemAmount">Amount</label>
        <input
          type="number"
          name="amount"
          class="form-control mt-2"
          id="itemAmount"
          placeholder="Enter amount"
          ngModel
          required
          pattern="^[.]?[0-9]+[.]?[0-9]*$"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary me-1"
          [disabled]="!form.valid"
        >
          {{ editMode ? "Update" : "Add" }}
        </button>
        <button
          *ngIf="editMode"
          type="button"
          class="btn btn-danger me-1"
          (click)="onDelete()"
        >
          Delete
        </button>
        <button type="button" class="btn btn-warning me-1" (click)="onClear()">
          Clear
        </button>
      </div>
    </form>
  </div>
</div>
